[Desktop Entry]
Type=Application
Name=OpenTabletDriver
Exec=systemctl --user start opentabletdriver
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
