* {
        background:     #02050D;     /* pywal: background */
        background-alt: #997A6A;         /* pywal: alt bg */
        foreground:     #bfc0c2;     /* pywal: foreground */
        selected:       #5BB4D7;         /* highlight bg */
        selected-fg:    #bfc0c2;         /* highlight text */
        active:         #29698E;         /* success green */
        urgent:         #997A6A;         /* urgent red */
}
