* {
        background:     #111213;     /* pywal: background */
        background-alt: #EEA856;         /* pywal: alt bg */
        foreground:     #c3c3c4;     /* pywal: foreground */
        selected:       #318996;         /* highlight bg */
        selected-fg:    #c3c3c4;         /* highlight text */
        active:         #EDB56B;         /* success green */
        urgent:         #EEA856;         /* urgent red */
}
