* {
        background:     #0B0C21;     /* pywal: background */
        background-alt: #215493;         /* pywal: alt bg */
        foreground:     #c2c2c7;     /* pywal: foreground */
        selected:       #638BC2;         /* highlight bg */
        selected-fg:    #c2c2c7;         /* highlight text */
        active:         #5B619F;         /* success green */
        urgent:         #215493;         /* urgent red */
}
